# UserVoice site
site=example.uservoice.com

# Address to listen on (for the web hook notifications).
# By default, listen on all interfaces.
#listenAddr=

# Port to listen on (for the web hook notifications).
listenPort=80

# UserVoice API key
apiKey=ABCDEFGHIJKLMNOPQRSTUV

# UserVoice API secret
apiSecret=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmn

# SSO key, for verifying web hook requests, as described here:
# https://feedback.uservoice.com/knowledgebase/articles/49266-setup-custom-web-service-hooks
ssoKey=0123456789abcdef0123456789abcdef

# Akismet key
akismetKey=1234567890ab
